/* ======================================================================= */
/*							[[Core Media Styles]]						   */
/* ======================================================================= */
/*						The following are a series of fixes                */
/*						to various media styles for a responsive           */
/*						design across multiple sites.				       */
/*																		   */
/*																		   */
/* ======================================================================= */
/*																		   */
/*						DO NOT MANIPULATE OR TOUCH THIS FILE               */
/*						Make a media query file with your custom.css	   */
/*						file and over ride the associated styles in the    */
/*						proper screen:                                     */
/*																		   */
/*						@media screen and (max-width: 980px{}			   */
/*																		   */
/*						then over ride the associated styles (already in   */
/*						them or add more) 								   */
/*																		   */
/* ======================================================================= */
/*																		   */
/*						Supported Media Sizes:							   */
/*																		   */						
/*						980, 780, 650, 560, 480, 320					   */
/*																		   */
/*																		   */
/*																		   */
/* ======================================================================= */
/*							[[Media Max-Width 980]]						   */
/* ======================================================================= */

@media screen and (max-width:980px) {
	nav li a {
		width: 25%;
		border-bottom: 1px solid #fff;
		font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	nav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}
	.flex-direction-nav li a{
		margin: 10px 15px 0 !important;
		top: 107% !important;
	}
	#pagewrap {
		width : 95%;
	}
	#contentWrapper {
		width : 60%;
	}
	.post {
		width: 111%;
		padding: 3% 4%;
	}
	#sidebar {
		width : 30%;
	}
	.video embed, .video object, .video iframe {
		width : 100%;
		height : auto;
		min-height : 300px;
	}
}
@media screen and (max-width:960px){
	#content{
		width: 105%;
	}
}
@media screen and (max-width:768px) {
	.formLayout input {
		margin : 0 auto 0 auto;
		width : 90%;
	}
	.formLayout input[type="submit"] {
		margin : 10px auto 0 auto;
		width : 75%;
	}
	.flex-control-nav li a{
		margin-top: 20px;
	}

}
@media screen and (max-width:650px) {
	nav li a {
		width: 50%;
		font: 400 12px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	nav li:nth-child(even) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a {
		border-bottom: 1px solid #fff;
	}	
	#contentWrapper {
		width : auto;
	}
	#content {
		width : auto;
		margin : 20px 0;
	}
	#sidebar {
		width: 40%;
		margin: 0 0 0 175px;
		float: left;
	}
	#sidebar .widget {
		padding : 3% 12%;
		margin : 0 0 10px;
	}
	.formLayout input {
		margin : 0 auto 0 auto;
		width : 80%;
	}
	.formLayout input[type="submit"] {
		margin : 10px auto 0 auto;
		width : 45%;
	}
	.video embed, .video object, .video iframe {
		min-height : 250px;
	}
}
@media screen and (max-width:560px) {
	#searchform {
		position : absolute;
		top : 10px;
		right : 10px;
		z-index : 100;
		height : 40px;
	}
}
@media screen and (max-width:480px) {
	#searchform {
		top : 10px;
		right : 0;
		z-index : 100;
		height : 40px;
	}
}
@media only screen and (max-width:320px) {
	#content {
		width: 94%;
	}
	#sidebar{
		display:none;
	}	
}
