/*====================== [[CSS STYLE SHEET]] ===========================
 *
 *		This is the core Admin styles for the Admin Panel page.
 *		if you are making your own Admin Template instead of the
 *		core one used here then please make sure to over ride the classes
 *		and ID's here in your custom-css.css file.
 *
 *		These styles borrow from the styles.css 
 *
 *		@Author: Adam Balan
 *		@version: 1.0
 *		@Package: Aisis->AisisCore->AdminPanel->Template
 *
 *
 *======================================================================
 */

h1 {
	color:#4B718B;
	margin-left:150px;
	text-shadow : #6695B0 0 1px 0;
	margin-bottom: 20px;
	border-bottom: inset thin #666;
	line-height: 40px;
	width: 66%;
	font-size: 45px;
}
#adminPanelWrapper {
	width: 50%;
	margin: 25px auto 0 auto;
	font-family:'Ubuntu', sans-serif;
	padding:20px;
	background:#EBEEF1;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	overflow:hidden
}
.adminPanelTitle {
	width: 70%;
	margin: -40px auto 40px 130px;
	border-radius: 8px;
	border: thin solid #999;
	background:#B5C4D2;
	text-align:center;
	padding: 40px;
	font-size: 40px;
	color:#955175;
	text-shadow : #A35A8D 0 1px 0;
	overflow:hidden;
}
.adminPanelSubTitle {
	font-size: 20px;
	margin-top:20px;
	margin-bottom:10px;
	color:#495F76;
	text-shadow : #D7E1E3 0 1px 0;
	width:100%;
	text-align:center;
}
.greyBox{
	margin-left: -39px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background:#CCC;
	color:#7694A9;
	font-size:16px;
	padding: 10px;
	margin-bottom:20px;
	margin-top: 20px;
	width:58%;
	
}

.greyBox .title{
	margin-left: 20px;
	font-size:18px;
	font-weight:bold;
	border-bottom: 2px solid #333;
	width: 50%;
	line-height: 1.1em;
}

.greyBox p{
	margin-left: 5px;
}
.box{
	width: 45%;
	margin-left: 525px;
	margin-bottom: 45px;
	background:#D5B7CC;
	padding:10px;
	border-right: #846275 15px solid;
	border-top-left-radius:8px;
	border-bottom-left-radius: 8px;
	clear:both;
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}
.box p{
	width: 70%;
	margin-left: 100px;
	margin-top: -10px;
	font-size:16px;
}

#tabs{
	width: 70%;
	margin: 20px auto 20px auto;
}

#coreTabs{
	width: 103%;
	border: none;
	background: none;
	margin-left: -21px;
}

#coreTabs ul{
	margin-left:145px;	
}

#coreTabs .bottom{
	border-bottom: 2px solid #A6BABF;
	width:100%;
	margin: 0 auto 40px 147px;
}

.ui-widget-header{
	border: none !important;
	background: none !important;
}

.whiteSection {
	width: 60%;
	margin: 10px auto 50px auto;
	font-family:'Ubuntu', sans-serif;
	padding:40px;
	background:#fff;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	overflow:auto;
	font-size:18px;
}
.optionsSection{
	width: 83%;
	margin-left: -25px;
	margin-bottom: 50px;
	font-family:'Ubuntu', sans-serif;
	padding:40px;
	background:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	font-size:18px;
}
.images{
	width: 60%;
	margin: 20px auto 0 auto;
}
.individualImage{
	height:110px;
	margin: 0 auto 0 auto;
	float:left;
}
.notice {
	background : #fff9d7;
	border : 1px solid #e2c822;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin : 10px 0px -8px 80px;
	width:60%
}
.upgradeNotice {
	background : #fff9d7;
	border : 1px solid #e2c822;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin : 10px auto -45px auto;
	font-weight:normal;
	color:#000000;
	text-shadow:none;
	width:60%;
}
.noticeSave {
	background : #fff9d7;
	border : 1px solid #e2c822;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin : 10px 0px 20px 80px;
	width:60%;
}
.err {
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 10px 0px 20px 80px;
	width:60%;
	word-wrap:break-word;
}
.adminThemeError{
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin-top : -10px;
	width:94.7%
}
.adminThemeNotice{
	background : #fff9d7;
	border : 1px solid #e2c822;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin-top : -10px;
	width:94.7%
}
.adminThemeSuccess{
	background : #c0e4c7;
	border : 1px solid #3d5b37;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin-top : -10px;
	width:94.7%
}
.adminThemeErrors{
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin-top : -10px;
	margin-bottom: 20px;
	width:94.7%
}
div.error{
	width:50%;
	margin: 10px auto 5px auto;
}
.excNotice {
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 40px auto 20px auto;
	width: 90%;
	height:300px !important;
}
.success {
	background : #c0e4c7;
	border : 1px solid #3d5b37;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 10px 0px 20px 80px;
	width:60%;
}


.CodeMirror {
	width:83%;
	margin-left: -20px;
	background:#FFFFFF;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	font: 'Ubuntu', sans-serif;
	font-size: 16px;
}
.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
.adminFooter{
	width: 70%;
	margin: 10px auto -40px auto;
	padding:20px;
	border-radius:8px;
	background:#CCCCCC;
	text-align:center;
	border: thin solid #666;
}
#adminPanelWrapper input[type="submit"] {
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 20px;
	padding-left:10px;
	padding-right:10px;
	height:30px;
	cursor:pointer;
}
#adminPanelWrapper input[type="button"] {
	margin-left: -10px;
	padding:5px;
	border-radius: 5px;
	margin-top: 20px;
	height:30px;
	cursor:pointer;
	
}
#adminPanelWrapper input[type="text"] {
	margin-left: 20px;
	padding:5px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 350px;
	height:30px;
	
}

label{
	margin-left: 20px;
	font-weight:bold;
}

.optionsSection textarea{
	margin-left: 20px;
	margin-top:10px;
	margin-bottom: 10px;
	padding:10px;
	border-radius: 4px;
	height:100px;
	width: 80%;
}
.moveButton{
	margin-left: 10px !important;
	margin-top: 10px !important;
}


