/*====================== [[CSS STYLE SHEET]] ===========================
 *
 *		This is the core Admin styles for the Admin Panel page.
 *		if you are making your own Admin Template instead of the
 *		core one used here then please make sure to over ride the classes
 *		and ID's here in your custom-css.css file.
 *
 *		These styles borrow from the styles.css 
 *
 *		@Author: Adam Balan
 *		@version: 1.0
 *		@Package: Aisis->AisisCore->AdminPanel->Template
 *
 *
 *======================================================================
 */

h1 {
	color : #252e34;
	margin-left:150px;
	text-shadow : #fff 0 1px 0;
	margin-bottom: 50px;
	border-bottom: inset thin #666;
	line-height: 35px;
	width: 40%;
	font-size: 45px;
}
#adminPanelWrapper {
	width: 60%;
	margin: 25px auto 0 auto;
	font-family:'Ubuntu', sans-serif;
	padding:20px;
	background:#EBEEF1;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	overflow:auto;
}
.adminPanelTitle {
	font-size: 44px;
	margin-top:20px;
	margin-left: 320px;
	color:#8B477A;
	text-shadow : #fff 0 1px 0;
	line-height: 35px;
}
.adminPanelSubTitle {
	font-size: 20px;
	margin-top:20px;
	margin-left: 420px;
	margin-bottom: 50px;
	color:#495F76;
	text-shadow : #fff 0 1px 0;
}
.textSection {
	width: 70%;
	margin: 10px auto 50px auto;
	font-family:'Ubuntu', sans-serif;
	padding:20px;
	background:#fff;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	overflow:auto;
	font-size:18px;
}
.notice {
	background : #fff9d7;
	border : 1px solid #e2c822;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin : 10px auto 20px auto;
	width:60%;
}
.err {
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 10px auto 20px auto;
	width:60%;
}
.excNotice {
	background : #ebc2ce;
	border : 1px solid #772038;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 40px auto 20px auto;
	width: 90%;
	height:300px !important;
}
.success {
	background : #c0e4c7;
	border : 1px solid #3d5b37;
	color : #333;
	padding : 10px;
	font-size : 13px;
	border-radius : 5px;
	margin: 10px auto 10px auto;
	width:60%;
}
.contents {
	width: 80%;
	margin: 0 auto 0 auto;
}
.container {
	width: 80%;
	margin: 20px auto 20px auto;
	padding: 30px;
	height: 100% !important;
}
.CodeMirror {
	border: 1px solid #eee;
	width:92%;
	margin: 0 auto 0 auto;
	background:#FFFFFF;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	font: 'Ubuntu', sans-serif;
	font-size: 16px;
}
.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
input[type="submit"] {
	margin-left: 150px;
	border-radius: 5px;
	margin-top: 20px;
	width: 100px;
	height:30px;
	cursor:pointer;
	
}
